<hr>
<h1>Student's Car Details:</h1>
<table border="1" cellpadding="5">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Car</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let studc of studentCars">
			<td>{{studc.id}}</td>
			<td>{{studc.name}}</td>
			<td>{{studc.car}}</td>
		</tr>
		<tr *ngIf="studentCars.length==0">
			<td colspan="6">Data Not Found!</td>
		</tr>
	</tbody>
</table>
<hr/>


<h2>Student Table</h2>

<table border="1" cellpadding="5">
	<tr>
		<td [attr.colspan]="colspan">Student Information</td>
	</tr>
	<tr>
		<td>First Name</td>
		<td>{{firstName}}</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{lastName}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td [style.color]="tdagecolor" [style.background-color]="tdagebgclr">{{age}}</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>{{address}}</td>
	</tr>
	<tr [class]="cssclstouse">
		<td>Full Name</td>
		<td>Mr. {{studName()}}</td>
	</tr>
	<tr [class.font-comic]="usefontcomic">
		<td>Balance</td>
		<td>{{balance * 30}}</td>
	</tr>
</table>


<hr>
<h1>Property Binding:</h1>
Student Name: <span [innerHtml]="firstName + ' ' + lastName"></span>

<h3>Show Apple Image</h3>
<img [src]="appleImgPath" width="128" height="128"/>


<hr>
<h1>Events Binding:</h1>

<button (click)="btnClickMe()">Click Me</button>
<br><br>

<button (click)="displayDetails()">{{btnTxt}}</button>
<br>
<div *ngIf="showDetails">
	<h3>Message handel by Events Binding</h3>
</div>
<br><br>


<hr>
<h1>Two Way Binding:</h1>

<!-- [(ngModule)] | [value]='val' (input)='val = $event.target.value' -->
<input name="text1" type="text" [(ngModel)]='val' />
<br><br>
{{val}}
<br><br>
<input name="text2" type="text" [(ngModel)]='val' />
<br><br><br><br>


<hr>
<h1>Reading Data:</h1>
<table border="1" cellpadding="5">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>D.O.B.</th>
			<th>eMail</th>
			<th>Salary</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let stud of studentRecords">
			<td>{{stud.id}}</td>
			<td>{{stud.name | uppercase}}</td>
			<td>{{stud.dob}}</td>
			<td>{{stud.eMailId | lowercase}}</td>
			<td>{{stud.salary | inhand:20 | currency:'INR':true}}</td>
			<td>{{stud.city}}</td>
		</tr>
		<tr *ngIf="studentRecords.length==0">
			<td colspan="6">Data Not Found!</td>
		</tr>
	</tbody>
</table>
<br><br><br><br>