<h2>Student Table</h2>

<table border="1" cellpadding="5">
	<tr>
		<td>First Name</td>
		<td>{{firstName}}</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{lastName}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>{{age}}</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>{{address}}</td>
	</tr>
	<tr>
		<td>Full Name</td>
		<td>Mr. {{studName()}}</td>
	</tr>
	<tr>
		<td>Balance</td>
		<td>{{balance * 30}}</td>
	</tr>
</table>


<hr>
<h1>Property Binding:</h1>
Student Name: <span [innerHtml]="firstName + ' ' + lastName"></span>

<h3>Show Apple Image</h3>
<img [src]="appleImgPath" width="128" height="128"/>

<hr>